:root {
    --color-primary: #f7f300;
    --color-brand-blue: #8DFFFE;
    --color-brand-yellow: #F7F300;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

body {
    background-color: #212529;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a:link,
p a:link {
    color: var(--color-primary);
}

header .button-link {
    color: white;
    display: flex;
    align-items: center;
}

.link-image {
    max-height: 50px;
    width: auto;
}

.list-reset {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.list-item {
    margin-right: 1em;
    margin-bottom: 1em;
}

.hero-text {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
}

.post-hero-image {
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    margin-right: 1em;
    max-width: 100%;
}

@media (min-width: 768px) {
    .post-hero-image {
        width: 300px;
    }
}

.button-link {
    display: inline-block;
    border: 1px solid #999999;
    padding: 0.5em;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.button-link:hover {
    background: #999;
    color: #000;
}

.hero-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hero-link:hover {
    transform: translateY(-5px);
}

#episodes article + article {
    margin-top: 1rem;
    border-top: 1px solid #fff;
}

#episodes article img {
    max-width: 150px;
    width: 100%;
    margin-right: 1em;
}

#episodes article {
    display: flex;
    padding-top: 1em;
}

#episodes a {
    color: inherit;
    transition: color 0.3s ease;
}

#episodes a:hover,
#episodes a:focus {
    color: #f7f300;
}

.tags {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

.tags .tag {
    display: inline-block;
    padding: .5em 1em;
    background-color: var(--color-brand-yellow);
    border-radius: 30px;
    color: black;
    margin-bottom: .5em;
}

.tags .tag + .tag {
    margin-left: .5em;
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
}

.main {
    padding-bottom: 160px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 85vh;
}

.header-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    display: block;
    color: inherit;
    text-decoration: none;
}

.episodes {
    margin-left: auto;
    margin-right: auto;
}

.podcast-list {
    flex-wrap: wrap;
}

.header-wrap {
    text-transform: uppercase;
    padding: 1em 1em 0 1em;
}

.about-hero {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.about-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 5em;
}

.patreon-link {
    background: rgba(255, 66, 77, 0.9);
}

.patreon-link:hover {
    background: rgba(255, 66, 77, 0.4);
    color: #fff;
}

@media screen and (min-width: 768px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
}

.loading {
    text-align: center;
}

.img-text-overlay {
    position: relative;
    top: -60px;
    left: -10px;
}

h2 {
    text-transform: uppercase;
    font: bold Futura, Sans-Serif;
    margin-bottom: 1em;
    margin-top: 2em;
}

h2 span {
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);

    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 10px;
}

.hero-text {
    font-family: Futura;
    letter-spacing: -1px;
    font: bold Futura, Sans-Serif;
}

.hr-rule {
    height: 3px;
    border-width: 0;
    color: gold;
    background-color: gold;
}

.episode-link-card {
    transition: background .3s ease-out;
}

.episode-link-card:hover,
.episode-link-card:focus {
    background: rgba(255,255,255,0.1) !important;
}

.episode-link-card audio {
    width: 100%;
}

.privacy h1 {
    font-size: 2.5rem;
}

.privacy h2 {
    font-size: 2rem;
    margin: 1em 0;
}

.privacy p + p {
    margin-top: 1em;
}

.inner-content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.logos__logo-img {
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logos__row {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 75px;
    grid-gap: 10px;
}

h1 {
    margin-bottom: 2em;
}

.patreon-link img {
    width: 30px;
}

.social-icon {
    width: 40px;
}

.live-banner {
    background-color: var(--color-primary);
    color: var(--bs-gray-900);
    font-size: 1.1rem;
}

