---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body style="padding-top: 0; margin: 0">
    {% include header.html %}
    <main
      class="main p-3 mb-2 bg-dark text-white"
      style="padding-left: 15px; padding-right: 15px"
    >
      <div class="hero-wrapper">
        <section>
          <p style="font-size: 20em; margin-bottom: 0; margin-top: 0">404</p>
          <h1>Oops, that can't be found</h1>
          <a href="/" style="color: #fff; text-decoration: none">Back home</a>
        </section>
      </div>
    </main>
  </body>
</html>
