html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    background-image: radial-gradient(at center top, rgb(6, 11, 11), rgb(36, 41, 41));
    padding: 1em 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
    box-shadow: rgba(0, 0, 0, 0.05) 0px -10px 10px -10px inset, rgba(0, 0, 0, 0.25) 0px -10px 25px -10px inset;
    color: white;
    min-height: 100vh;
    padding: 0 15px 100px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.hero-footer {
    margin-top: 2em;
}

h1 {
    text-transform: uppercase;
}

.hero-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0px 30px rgba(0,0,0,.4);
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -10px 20px rgba(0,0,0,.2);
    animation: slide-up .3s ease 2s 1 forwards;
    transform: translateY(100%);
}

@keyframes slide-up {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 1em;
    justify-content: center;
}

.links-list li {
    display: inline-block;
    margin-right: 1em;
}

.listen-image {
    width: auto;
    height: 100%;
    max-height: 50px;
}

.links-list a {
    transition: transform .3s ease;
    display: inline-block;
}

.links-list a:hover, .links-list a:focus {
    transform: translateY(-3px);
}

.patreon-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    border: 1px solid #999;
    border-radius: 3px;
    transition: background .3s ease, color .3s ease;
}

.patreon-link:hover, .patreon-link:focus {
    background: #999;
    color: black;
}

@media (min-width: 769px) {
    .hero {
        padding-bottom: 0;
    }

    .hero-content {
        text-align: left;
        flex-direction: row;
    }
    
    .hero-image {
        margin-right: 1em;
    }

    .links-list {
        justify-content: flex-start;
    }
}