<footer style="margin-top: 100px" data-pg-collapsed >
  <div class="inner-content text-center">
    <p style="color: white" class="pb-5">&copy;That Tech Show 2022</p>
  </div>
  <div class="live-banner fixed-bottom p-3 rounded-2">
    <div class="container">
      <h2 class="fw-bold my-2">Announcement:&nbsp;THAT TECH SHOW LIVE!</h2>
      <p>We&apos;re excited to announce that we will be doing a THAT TECH SHOW Live meetup event in <b>London</b> some time in <b>August</b>. If you&apos;re interested in attending or participating, <a href="http://eepurl.com/h4rFjv" target="_blank" class="fw-bolder text-black">let us know!</a></p>
    </div>
  </div>
</footer>