---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{{site.baseurl}}/favicon.jpeg" rel="icon" type="image/jpg" />
    <meta charset="utf-8" />
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      window.RSS_URL =
        'https://s8hdp1sdz5.execute-api.eu-west-2.amazonaws.com/latest/proxy/';
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THAT TECH SHOW - Hosted by Chris Addams & Sam Gregory</title>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TEM8PPB2T0"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      if (window.location.href.match(/thattech/)) {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-TEM8PPB2T0');
      }
    </script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body style="padding-top: 0; margin: 0" class="bg-dark">
    <header class="bg-dark header-wrap" data-pgc="tts.header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand header-title hero-text" href="/"
          >That Tech Show</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{site.baseurl}}/about-us">About Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{site.baseurl}}/contact-us">Contact</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{site.baseurl}}/episodes">Episodes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{site.baseurl}}/links">Links</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{site.baseurl}}/rress">Press</a>
            </li>
          </ul>
          <a
            href="https://www.patreon.com/thattechshow"
            target="_blank"
            rel="noreferrer nofollow"
            class="button-link patreon-link"
          >
            <svg
              style="vertical-align: middle;display: inline"
              viewBox="0 0 512 512"
              width="15"
              height="15"
            >
              <path
                fill="white"
                d="M512 194.8c0 101.3-82.4 183.8-183.8 183.8-101.7 0-184.4-82.4-184.4-183.8 0-101.6 82.7-184.3 184.4-184.3C429.6 10.5 512 93.2 512 194.8zM0 501.5h90v-491H0v491z"
              ></path>
            </svg>
            Buy us a coffee!
          </a>
        </div>
      </nav>
      <hr class="hr-rule" />
    </header>
    <main
      class="main p-3 mb-2 bg-dark text-white"
      style="padding-left: 15px; padding-right: 15px"
    >
      <div class="hero-wrapper">
        <section class="hero col-md-12 hstack gap-5">
          <div class="row">
            <div class="col-md-4">
              <img
                src="{{page.image}}"
                style="
                  width: 300px;
                  border-radius: 10px;
                  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
                  margin-right: 1em;
                "
              />
              <audio class="p-1 mt-4" controls preload="none">
                <source src="{{page.media}}" type="audio/mp3" />
              </audio>
              <p class="mt-4">
                <i>Available where all good podcasts are downloaded</i>
              </p>
              <div class="row">
                <a
                  href="{{ site.data.links.spotify.link }}"
                  aria-label="spotify"
                  class="col-2 btn m-1 p-2 text-white"
                >
                  <i
                    style="width: 30px; height: 30px"
                    class="fa-spotify fab fa-2x"
                  ></i>
                </a>
                <p class="col-6 text-uppercase m-3">Spotify</p>
              </div>
              <div class="row">
                <a
                  href="{{ site.data.links.apple.link }}"
                  aria-label="apple"
                  class="col-2 btn m-1 p-2 text-white"
                >
                  <i
                    style="width: 30px; height: 30px"
                    class="fa-apple fab fa-2x"
                  ></i>
                </a>
                <p class="col-6 text-uppercase m-3">Apple</p>
              </div>
              <div class="row">
                <a
                  href="{{ site.data.links.stitcher.link }}"
                  aria-label="stitcher"
                  class="col-2 btn m-1 p-2 text-white"
                  ><img
                    class=""
                    height="30px"
                    width="30px"
                    src="../../../images/icons/stitcher.svg"
                /></a>
                <p class="col-6 text-uppercase m-3">Stitcher</p>
              </div>
              <div class="row">
                <a
                  href="{{ site.data.links.tune-in.link }}"
                  aria-label="tune-in"
                  class="col-2 btn m-1 p-2 text-white"
                  ><img
                    height="30px"
                    width="30px"
                    src="../../../images/icons/tunein.svg"
                /></a>
                <p class="col-6 text-uppercase m-3">Tune-In</p>
              </div>
              <div class="row">
                <a
                  href="{{ site.data.links.podchaser.link }}"
                  aria-label="podchaser"
                  class="col-2 btn m-1 p-2 text-white"
                  ><img
                    height="30px"
                    width="30px"
                    src="../../../images/icons/podchaser.svg"
                /></a>
                <p class="col-6 text-uppercase m-3">Podchaser</p>
              </div>
              <div class="row">
                <a
                  href="{{ site.data.links.youtube.link }}"
                  aria-label="YouTube"
                  class="col-2 btn m-1 p-2 text-white"
                >
                  <i
                    style="width: 40; height: 40"
                    class="fa-youtube fab fa-2x"
                  ></i>
                </a>
                <p class="col-6 text-uppercase m-3">YouTube</p>
              </div>
            </div>
            <div class="col-md-7">
              <h1 class="hero-text text-uppercase">{{page.title}}</h1>
              <h2 style="font-size: 1.2em">{{ page.subtitle }}</h2>
              <small class="text-muted vstack gap-2">Published: {{page.pubdate}}</small>
              <p>{{ page.description }}</p>
            </div>
          </div>
        </section>
      </div>
      <div class="row" style="max-width: 900px; margin: 0 auto">
        <section>
          {% for episode in site.data.transcripts %}
            {% if episode.title == page.title %}
              {% if episode.related %}
                <h3>You might also enjoy...</h3>
                <div class="row" style="margin-bottom: 2em;">
                  {% for related in episode.related %}
                    <a href="{{related.url}}" class="text-muted col-4">
                      <img src="{{related.image}}" alt="{{related.title}}" style="display: block; margin-bottom: 1em" />
                      <div style="color: white">{{related.title}}</div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}

              {% if episode.transcript %}
                <div style="margin-bottom: 2em">
                  <h3>Episode Transcript</h3>

                    <div class="text-left">
                      {{episode.transcript }}
                    </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </section>
      </div>
      <section class="episodes">
        <h2>More Episodes</h2>
        <div class="container">
          <div class="row">
            {% for post in site.posts %}
            <div class="col-md-12">
              <a href="{{post.url}}" class="row media vstack gap-2" aria-title="{{post.title}}">
                <div class="media-left col-md-2">
                  <img class="media-object" src="{{post.image}}" alt="..." />
                </div>
                <div class="media-body col-md-6">
                  <h3 class="media-heading">
                    {{ post.title }}
                  </h3>
                  <small class="text-muted vstack gap-2">
                    Published: {{post.pubdate}}
                  </small>
                  <div class="vstack gap-2">{{post.subtitle}}</div>
                </div>
                <div class="media-body col-md-2">
                  <audio class="p-1" controls preload="none">
                    <source src="{{post.media}}" type="audio/mp3" />
                  </audio>
                </div>
                <p>
                  Learn more...
                </p>
                <hr />
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
